$modal-height: 112px;
$modal-padding: 15px;
$modal-border-width: 1px;

.modal-dialog {
  width: 100%;
  min-height: 100%;
  margin: 0;
  flex-direction: column;
  display: flex;

}

.modal-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

@media (min-width: 769px) {
  .modal-dialog {
    width: 768px;
    height: 600px;
    margin: 30px auto;
  }
  .modal-content {
    height: 100%;
  }
}


.sign-up-modal {
  .modal-header {
    background-image: url('./wedding5.jpg');
    background-position: center center;
    background-size: 100%;
    min-height: $modal-height;
    padding: $modal-padding;
    .modal-title {
      text-align: center;
      line-height: $modal-height - 2 * $modal-padding - $modal-border-width;
      font-size: 48px;
      font-weight: bolder;
      color: black;
    }
  }

  .modal-body {
    padding: 5% 10% 10%;
    text-align: center;
    color: #7b7b7b;
    p {
      font-size: 18px;
    }

    form {
      margin-top: 50px;

      .submit-buttons {
        margin-top: 40px;
      }
    }
  }


  .modal-footer {
    background-image: url('./roses-0.jpg');
    background-position: center center;
    background-size: 110%;
    vertical-align:bottom;
    flex-grow: 1;
  }

  @media (min-width: 769px) {
    .modal-footer {
      background-image: url('./roses-0.jpg');
      background-position: center center;
      background-size: 110%;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: $modal-height;
    }
  }
}
