// https://github.com/webpack-contrib/sass-loader/issues/40
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$border-radius-large: 0;
$screen-sm: 769px;
$btn-default-bg: fade-out(#fffafa, 0.3);
$btn-default-border: transparent;
$btn-primary-bg: fade-out(#E24E61, 0.10);
$btn-primary-border: transparent;
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";



.cursive {
  font-family: cursive;
}

.sans-serif {
  font-family: Candara, sans-serif;
}

.btn-default {
  &:hover, &:active, &:hover:active, &:focus {
    background-color: fade-out(#fffafa, 0.1);
  }
}

.btn:focus, .btn:focus:active {
  outline: none;
}
